:root {
  --md-black: #2d2d2d;
  --md-cyan: #374a67;
  --md-cyan-dark: #263750;
  --md-purple: #a46bd4;
  --md-purple-dark: #8a3fca;
  --md-white: white;
  --md-white-dark: rgb(196, 196, 196);
}

/* Main paghe not logged in */

body {
  background: var(--md-black) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--md-white) !important;
}

a {
  color: var(--md-purple-dark) !important;
}

#header {
  background: var(--md-cyan) !important;
  border: none !important;
}

.header-main {
  background-color: var(--md-black) !important;
  border-bottom: 1px solid var(--md-purple-dark) !important;
}

.nav-link,
.collapseexpand {
  color: var(--md-purple) !important;
}

.nav-link:hover {
  border-bottom: 2px solid var(--md-purple) !important;
}

#coursesearch {
  background-color: var(--md-purple) !important;
  border: none !important;
}

.coursesearchbox {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.coursesearchbox label {
  color: var(--md-white) !important;
}

#shortsearchbox {
  width: 75% !important;
}

.coursesearchbox .btn-secondary {
  color: var(--md-white) !important;
}

.coursesearchbox .btn-secondary:focus,
.coursesearchbox .btn-secondary:hover,
.info {
  background-color: var(--md-purple-dark) !important;
}

#frontpage-category-combo h2 {
  color: var(--md-purple-dark) !important;
}

.collapseexpand:hover {
  text-decoration: none !important;
}

.coursebox {
  background-color: var(--md-purple-dark) !important;
  border: none !important;
}

.coursename a {
  color: var(--md-white);
}

.coursename a:hover {
  color: var(--md-white-dark);
  text-decoration: none;
}

#footer p {
  background: var(--md-cyan) !important;
}

/* Main paghe not logged in */

.card {
  background-color: var(--md-cyan) !important;
}

#login .btn-primary {
  background-color: var(--md-purple) !important;
  color: var(--md-white) !important;
}

#login .btn-primary:focus {
  background-color: var(--md-purple-dark) !important;
}

#login .btn-primary:hover {
  background-color: var(--md-purple-dark) !important;
}

.card-header {
  color: var(--md-white) !important;
}

.col-md-5 .mt-3,
.rememberpass {
  color: var(--md-purple-dark) !important;
}

.potentialidp a {
  position: absolute;
  bottom: 0;
  border-color: var(--md-purple) !important;
}

.potentialidp a:hover {
  background-color: var(--md-purple-dark) !important;
}

/* Main paghe logged in */

.navbar-nav > .d-inline-block {
  position: absolute !important;
  left: 0;
  padding-left: 15px !important;
}

.navbar-nav ul {
  margin-right: -50% !important;
}

#nav-drawer {
  background-color: var(--md-cyan-dark) !important;
}

.list-group ul li {
  margin: 5px 0;
}

.list-group ul li a {
  color: var(--md-white) !important;
}

.list-group ul li:first-child a {
  background-color: var(--md-purple-dark) !important;
  border: none;
}

.list-group ul li a {
  color: var(--md-white);
  background-color: var(--md-purple) !important;
}

.list-group ul li a:hover,
.icon,
.content h3,
.course-content .topics .section .activity .activityinstance a {
  color: var(--md-white) !important;
}

/* Course page */
.card-body {
  background-color: var(--md-purple-dark) !important;
}

.page-header-headings h1,
.course-content .topics h3 a {
  color: var(--md-white) !important;
}

#region-main {
  background-color: var(--md-purple) !important;
  color: var(--md-white) !important;
}

.no-overflow {
  background: none !important;
  border: none !important;
}

.breadcrumb-item a,
#action-menu-toggle-2 {
  color: var(--md-white) !important;
}

.block {
  border: none !important;
}
